<h1>Create a recipe</h1>
<p>&nbsp;</p>
<h3>New Recipe Name</h3>

<form action="/recipe" method="post">
  <input type="text" name="title" value="" placeholder="enter a name">
  <button type="submit" name="button">create!</button>
</form>
<p>&nbsp;</p>
<h3>current recipes</h3>
<p>&nbsp;</p>
<%if @recipes_list != []%>
<div class="container">
  <%@recipes_list.each do |recipe|%>
  <div class="row">
    <div class="col-md-3">
      <a href="/recipes/<%= recipe.id %>/display"><%= recipe.title %></a>
    </div>
    <div class="col-md-1">
      <form class="form-inline" action="/recipes/<%= recipe.id %>/edit" method="get">
        <button type="submit" class="btn btn-warning">Edit</button>
      </form>
    </div>
    <div class="col-md-1">
      <form class="form-inline" action="/recipes/<%= recipe.id %>/remove" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <% end %>
</div>
<% else %>
  <p>There are no recipes yet!</p>
<% end %>
